:root {
  --background-color: #FFFFFF;
  --primary-color: #000000;
  --secondary-color: #25b576;
  --secondary-alt-color: #0238a4;
  --red-color: #FF3333;
  --neutral-1-color: #FEFEFE;
  --neutral-2-color: #F3F5F7;
  --neutral-3-color: #E8ECEF;
  --neutral-4-color: #6C7275;
  --neutral-5-color: #343839;
  --neutral-6-color: #232627;
  --neutral-7-color: #141718;

  --font-family-heading: 'Poppins', sans-serif;
  --font-family-text: 'Inter', sans-serif;

  --container-width: 1300px;
  --container-padding-x: 32px;

  --input-height-small: 32px;
  --input-height-medium: 40px;
  --input-height-large: 52px;

  --button-height-small: 40px;
  --button-height-medium: 52px;
  --button-height-large: 72px;

  --button-font-size-xl: 26px;
  --button-font-size-l: 22px;
  --button-font-size-m: 18px;
  --button-font-size-s: 16px;
  --button-font-size-xs: 14px;

  --transition-duration: 0.2s;
}
