:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.register-form {
  display: grid;
  grid-template-columns: 300px;
  border: 1px, solid, var(--grey-dark);
  padding: 20px 25px;
  border-radius: 5px;
}

.register-form__title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 500;
}2

.register-form__input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.register-form__have-account {

}
