<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="#">InkX</a>
    </div>

    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="#">Catalog</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>

    <div class="header__search">
      <img ngSrc="/assets/svg/search.svg" alt="search" height="16" width="16">
      <span class="header__search-text">Search...</span>
    </div>

    <div class="header__user-actions">
      <div class="header__cart">
        <a href="#">
          <img ngSrc="/assets/svg/cart.svg" alt="cart" height="18" width="21">
          <span>9+</span>
        </a>
      </div>

      <div class="header__auth">
        <button>
          Login
        </button>
      </div>
    </div>
  </div>

</header>
