<div class="login-form">
  <div class="login-form__title-wrapper">
    <h4 class="h4">Sign In</h4>
    <div class="login-form__prompt">
        <span>
          Don’t have an account yet?  <a href="#" class="login-form__prompt-link">Sign Up</a>
        </span>
    </div>
  </div>
  <form
    class="login-form__form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <app-input
      class="login-form__form-input"
      placeholder="Email"
      type="email"
      formControlName="email"
      controlName="email"
      [form]="loginForm"
    >
      @if (loginForm.controls.email.hasError('required')) {
        <span slot="error">Email is required</span>
      } @else if (loginForm.controls.email.hasError('email')) {
        <span slot="error">Email should be valid</span>
      }
    </app-input>
    <app-input
      class="login-form__form-input"
      placeholder="Password"
      type="password"
      formControlName="password"
      controlName="password"
      [form]="loginForm"
    >
      @if (loginForm.controls.password.hasError('required')) {
        <span slot="error">Password is required</span>
      } @else if (loginForm.controls.password.hasError('minlength')) {
        <span slot="error">Password should be at least 6 character</span>
      }
    </app-input>
    <div class="login-form__options">
      <app-checkbox
        formControlName="rememberMe"
        controlName="rememberMe"
        [form]="loginForm"
      >
        <span class="login-form__options-text" slot="right">Remember me</span>
      </app-checkbox>
      <a href="#" class="login-form__options-link">Forgot password?</a>
    </div>
    <app-button
      class="login-form__button"
      type='submit'
      label="Sign In"
      (click)="markFormControlsAsTouched()"
    ></app-button>
  </form>
</div>
