@use 'mixins' as *;
@use 'media' as *;

.cart-action {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 5px;

  &__image {
    min-width: 24px;
  }

  &__badge {
    @include flex-center;

    min-width: 20px;
    width: 20px;
    height: 20px;
    background-color: var(--neutral-7-color);
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    text-align: center;

    &--large {
      min-width: 24px;
      width: 24px;
      height: 24px;

      @include mobile {
        font-size: 10px;
        min-width: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
