@use 'media' as *;
@use 'mixins' as *;

.header {
  display: flex;
  align-items: center;
  height: 60px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  &__burger-menu {
    @include flex-center;

    width: 24px;
    height: 24px;
  }

  &__logo {
    font-size: 24px;

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: 40px;

      @include tablet {
        font-size: 14px;
        column-gap: 28px;
      }
    }

    &-item {
      &--active {
        color: var(--neutral-7-color);
      }
    }

    &-link {
      position: relative;
      align-items: center;
      height: 28px;

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 1px;
        background-color: var(--neutral-7-color);
        transition-duration: inherit;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &-search {
      @include square(24px);

      &-link {
        display: flex;
      }
    }

    &-profile {
      @include square(24px);

      &-link {
        display: flex;
      }
    }
  }
}
