<header class="header">
  <div class="header__inner container">
<!--    <button-->
<!--      class="button__burger-menu burger-button visible-mobile"-->
<!--      type="button"-->
<!--    >-->
<!--      <span class="visually-hidden">Open navigation menu</span>-->
<!--    </button>-->
    <app-logo></app-logo>
    <nav class="header__menu hidden-mobile">
      <ul class="header__menu-list">
        <li class="header__menu-item header__menu-item--active">
          <a class="header__menu-link" href="/">Home</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="/">Shop</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="/">Product</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="/">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="header__action">
      <div class="header__action-search">
        <a class="header__action-search-link" href="#">
          <img
            ngSrc="/assets/svgs/search.svg"
            height="24"
            width="24"
            loading="lazy"
            alt="search"
          />
        </a>
      </div>
      <div class="header__action-profile">
        <a class="header__action-profile-link" href="#">
          <img
            ngSrc="/assets/svgs/profile.svg"
            height="24"
            width="24"
            loading="lazy"
            alt="profile"
          />
        </a>
      </div>
      <app-cart-action></app-cart-action>
    </div>
  </div>
</header>
