@use 'media' as *;
@use 'mixins' as *;

.header {
  display: flex;
  align-items: center;
  height: 60px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: 40px;
    }

    &-item {
      &--active {
        color: var(--neutral-7-color);
      }
    }

    &-link {
      position: relative;
      align-items: center;
      height: 28px;

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 1px;
        background-color: var(--neutral-7-color);
        transition-duration: inherit;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &-search {
      min-width: 24px;
    }

    &-profile {
      min-width: 24px;
    }
  }
}
