<form
  class="login-form"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <h1>Login</h1>

  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="test@example.com">
    <mat-icon matSuffix>email</mat-icon>
    @if (loginForm.controls.email.errors?.['email'] && !loginForm.controls.email.errors?.['required']) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (loginForm.controls.email.errors?.['required']) {
      <mat-error>Email is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (loginForm.controls.password.errors?.['required']) {
      <mat-error>Password is required</mat-error>
    }
    @if (loginForm.controls.password.errors?.['minlength']) {
      <mat-error>Password must be at least 6 characters long.</mat-error>
    }
  </mat-form-field>

  <button mat-flat-button type="submit">Sign In</button>
</form>
