@use "fonts";
@use '@angular/material' as mat;

:root {
  --dark-color: #000000;
  --light-color: #EFF2F6;
  --grey-light: #C4C4C4;
  --grey-dark: #939393;
}

html {
  @include mat.theme((
    typography: (
      plain-family: Inter,
      brand-family: sans-serif,
      bold-weight: 900,
      medium-weight: 600,
      regular-weight: 400,
    ),
    density: 0,
  ));
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
  margin: 0;
}
