<aside class="sidebar">
  <div class="sidebar__inner">
    <app-logo class="sidebar__logo"></app-logo>

    <nav class="sidebar__menu">
      <ul class="sidebar__menu-list">
        <li class="sidebar__menu-item">
          <a class="sidebar__menu-link" href="/admin/dashboard">Dashboard</a>
        </li>

        <li class="sidebar__menu-item">
          <a class="sidebar__menu-link" href="/admin/products">Products</a>
        </li>

        <li class="sidebar__menu-item">
          <a class="sidebar__menu-link" href="/admin/orders">Orders</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
